#container{
    width: 100%;
    height: 100px;
    overflow: hidden;
    background-color: black;
}

#pe{
    color: beige;
    position: relative;
    animation: anim 3s linear infinite alternate;
}

@keyframes anim{
    from{
        left: 100%;
        width: 300%;
    }to{
        left: 0%;
        width: 100%;
    }
}